<div class="row mb-3 g-0">
  <div class="col bg-light text-end px-2 rounded-2">
    <p class="mb-1 text-secondary" style="height: 24px;">{{equationDisplay()}}</p>
    <p class="mb-1 fs-2 overflow-hidden">{{numberInput()}}</p>
  </div>
</div>
<div class="row row-cols-4 g-2">
  <div class="col">
    <button class="btn btn-danger w-100 rounded-4" (click)="clearAll()">AC</button>
  </div>
  <div class="col">
    <button class="btn btn-outline-danger w-100 rounded-4" (click)="deleteFromInput()">DEL</button>
  </div>
  <div class="col">
    <button class="btn btn-primary w-100 rounded-4" (click)="changeSign()">+/-</button>
  </div>
  <div class="col">
    <button class="btn btn-primary w-100 rounded-4" (click)="assignOperator('/')">/</button>
  </div>
  <div class="col">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput(7)">7</button>
  </div>
  <div class="col">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput(8)">8</button>
  </div>
  <div class="col">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput(9)">9</button>
  </div>
  <div class="col">
    <button class="btn btn-primary w-100 rounded-4" (click)="assignOperator('*')">*</button>
  </div>
  <div class="col">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput(4)">4</button>
  </div>
  <div class="col">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput(5)">5</button>
  </div>
  <div class="col">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput(6)">6</button>
  </div>
  <div class="col">
    <button class="btn btn-primary w-100 rounded-4" (click)="assignOperator('-')">-</button>
  </div>
  <div class="col">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput(1)">1</button>
  </div>
  <div class="col">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput(2)">2</button>
  </div>
  <div class="col">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput(3)">3</button>
  </div>
  <div class="col">
    <button class="btn btn-primary w-100 rounded-4" (click)="assignOperator('+')">+</button>
  </div>
  <div class="col-6">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput(0)">0</button>
  </div>
  <div class="col">
    <button class="btn btn-secondary w-100 rounded-4" (click)="appendToInput('.')">.</button>
  </div>
  <div class="col">
    <button class="btn btn-light w-100 rounded-4" (click)="calculate()">=</button>
  </div>
</div>